---
import "@/styles/index.css";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/shinnku.jpg" />
  </head>
  <body>
    <main>
      <div><a href="/posts">posts</a></div>
      <div><a href="/counter">counter</a></div>
      <div><a href="/intro">intro</a></div>
    </main>
  </body>
</html>
