---
// import "@/styles/index.css";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/shinnku.jpg" />
  </head>
  <body>
    <main>
      <h1>Hello, world!</h1>
      <p>Hello, world!</p>
    </main>
  </body>
</html>
