---
import { Footer } from "@/partials/Footer";
import { Navbar } from "@/components/Navbar";
import { AppConfig } from "@/utils/AppConfig";
import ThemeIcon from "@/components/ThemeIcon.astro";

export interface Props {
  head: {
    title: string;
    description: string;
  };
}

const {
  head: { title, description },
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content={AppConfig.author} />

    <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
    <link rel="icon" href="/shinnku.jpg" />
    <!-- Katex -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <Navbar />
    <ThemeIcon />

    <slot />

    <Footer />

    <button id="backToTop" class="back-to-top">↑ Top</button>
  </body>
</html>

<style>
  .back-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: #f8f8f8;
    color: #333;
    border: none;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
  }
</style>

<script>
  const backToTopButton = document.getElementById("backToTop")!;

  // 当用户滚动页面时
  window.onscroll = function () {
    if (
      document.body.scrollTop > 20 ||
      document.documentElement.scrollTop > 20
    ) {
      backToTopButton.style.display = "block";
    } else {
      backToTopButton.style.display = "none";
    }
  };

  // 当用户点击按钮时
  backToTopButton.onclick = function () {
    document.body.scrollTop = 0; // 对于 Safari
    document.documentElement.scrollTop = 0; // 对于 Chrome, Firefox, IE 和 Opera
  };
</script>
